{{!-- TODO: render draws --}}

<div class="container draws">
  <h3>Draws for {{user.name}}</h3>
  <div class="row show-grid">
    Please, enter a new draw results:
    <form method="post" action="/newdraw" id="send-new-draw-form">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2">
          <div class="input-group date datepicker" id="dp3"> 
            <input class="form-control" type="text" id="new-draw-date-visible" readonly="" value="12-02-2013"> 
            <input type="hidden" name="new-draw-date" value=""> 
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row" id="add-new-draw"></div>
        </div>
        <div class="col-sm-2">
          {{!-- add draw button --}}
          <input type="submit" class="btn btn-info" value="Add draw" />
        </div>

      </div>
    </form>
  </div>

  {{!-- list of draws --}}
  <table class="table">
    <thead>
      <tr>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>
      {{#each user.draws}}
        <tr class=""> 
          <td>
            DATE: <span class="draw-date">{{date}}</span>
          </td>
            {{#each balls}}
              <td>
                {{number}} ({{color}})
              </td>
            {{/each}}
          </td>
          <td>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>


  <script id="ball-form" type="text/x-handlebars-template">
    <div class="col-xs-2">
      <div class="btn-group">
        <select name="ball-\{{index}}" class="btn"> 
          \{{{renderOptions}}}
        </select>                   
        <button type="button" class="btn btn-warning color-changer"></button>
        <input type="hidden" name="ball-\{{index}}-color" value="yellow">
      </div>  
    </div>  
  </script>

</div>

{{!-- rendering draws --}}
<script src="javascripts/handledraws.js"></script> 
